@use './partials/vars' as *;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/roboto/index.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $main-font;
  background-color: $main-color;
}